body {
    background-color: rgb(15, 20, 97);
    color: white;
}

.dark-gray-container {
    width: 100%;
    background-color: rgb(15, 15, 15);
}

.nb-bg-dark {
    background-color: rgb(15, 15, 15);
    padding: 2px;
}

.menuItem {
    border: 2px solid rgb(32, 32, 32);
    background-color: rgb(24, 24, 24);
}

.important > a {
    color: red;
}

.menuItem:hover {
    background-color: rgb(12, 10, 19);
    border-color: rgb(20, 18, 24);
}

.active {
    border-bottom: 4px solid rgb(27, 29, 168); 
}

.menuItem > a {
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
}
