body {
    background-color: rgb(15, 20, 97);
    color: white;
}

.dark-gray-container {
    width: 100%;
    background-color: rgb(15, 15, 15);
}

.nb-bg-dark {
    background-color: rgb(15, 15, 15);
    padding: 2px;
}

.status {
    color: rgb(8, 133, 25)
}

.menuItem {
    border: 2px solid rgb(32, 32, 32);
    background-color: rgb(24, 24, 24);
    margin-right: 1%;
}

.profile > a {
    color: red;
}

.adminItem {
    background-color: rgb(1, 44, 1);
}

.adminItem > a {
    color: green;
}

.menuItem:hover {
    background-color: rgb(12, 10, 19);
    border-color: rgb(20, 18, 24);
}

.active {
    border-bottom: 4px solid rgb(27, 29, 168); 
}

.menuItem > a {
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
}

.home-info {
    display: inline-block;
    width: max-content;
    margin: 1%;
}

.update-row {
    color: rgb(8, 133, 25);
    background-color: rgb(12, 10, 19);
    margin-bottom: 10px;
}

.main-container {
    padding: 1%;
    background-color: rgb(15, 15, 15);
    border: 2px solid rgb(32, 32, 32);
    margin-top: 2px;
}

.gamecard {
    width: 200px;
    height: 300px;
    display: inline-block;
    padding-bottom: 20px;
    margin: 2%;
    overflow: hidden;
    box-shadow: 4px 2px 2px 2px black;
}

.gc-info-b {
    background-color: rgba(15, 15, 15, 0.8);
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
    bottom: 38px;
    color: white;
}

.gc-info {
    background-color: rgba(15, 15, 15, 0.8);
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
    bottom: 0px;
    color: white;
}

.btns {
    position: relative;
    bottom: -260px;
}

.del-btn {
    position: relative;
    bottom: 298px;
    margin-left: 129px;
}

.gamecard > img {
    width: inherit;
    height: inherit;
    position: absolute;
}

.gamecard:hover > .gc-info-b {
    color: rgb(27, 29, 168);
    background-color: rgba(15, 15, 15, 0.9);
}
